@using IslamicPorta.Models
@model List<answer>
           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "AnswerDiscussion";
}

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function() {
        //alert("abcdefg");
    });
    function fun() {
        var i = document.getElementById("comentId").value;
        $.getJSON("/Admin/DeleteAnswer?id="+ i, function(data) {
            $("#coments").load("/Admin/LoadComments?id=@ViewBag.selectedQuestionId");
        });
    }
</script>

<h2>AnswerDiscussion</h2>
<div class="container">
    @{
    question q = (question)Session["selectedQuestion"];
        <div class="well col-md-9" style="margin-left: 5%; background-color: #fff9d4">
                @using (Html.BeginForm(new{@class="form-horizontal", role="form"}))
                {
                    <div>
                        <p><h3>Here is the question</h3></p>
                        <p>Title: @q.title</p>posted on @q.date
                        <textarea class="form-control" readonly="readonly" cols="50" rows="7" name="answer">@q.userquestion</textarea>
                        <br />
                    </div>
                }
        </div>

        <div id="coments" class="well col-md-9" style="margin-left: 5%; background-color: #fff9d4">
            @for (int i = 0; i < Model.Count; i++)
            {
                answer a = Model[i];
                <br/>
                using (Html.BeginForm("DeleteAnswer", "Admin", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    <div>
                        <p><h5 >Answer: @(i + 1)</h5>  posted on @a.ansdate</p>
                        <textarea class="form-control" draggable="false" readonly="readonly" cols="50" rows="7" name="answer">@a.answer1</textarea>
                        <input type="hidden" name="id" id="comentId" value=@a.aid />
                        <input type="submit" value="Delete Answer" @*onclick="fun()"*@ id="deletAnswer" class="form-group btn-danger pull-right" />
                    </div>
                }
            }
        </div>
    }
        
        
            <div class="col-md-9 well" style="margin-left: 5%">
                <form class="form-horizontal" action="/Home/SaveAnswer" method="POST" role="form">
                    @using (Html.BeginForm("SaveAnswer", "Home", FormMethod.Post, new { @class = "form-horizontal" , role="form"}))
                    {
                        <div>
                            <div class="col-md-9">
                                <textarea cols="70" class="form-control" rows="5" name="answer" placeholder="Enter your answer please"></textarea>
                            </div>
                            <br />
                            <div class="col-md-9">
                                <br /><br />
                                <input type="submit" class="btn btn-primary" value="Post answer" />
                            </div>
                        </div>
                    }
                </form>
            </div>
</div>